@import 'Animate.scss';

.valetta {
    background-size: 100% 100%;
}

.valetta:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(7,50,162,0.56862745);
    opacity: 0.8;
}

.navbar-toggle {
    background-color:#efeff4 !important;
    border-color:#333 !important;
    position:absolute !important;
    left:0;
    top:4px;
    z-index:3;
    margin-left:30px;
    transition: 0.5s;

    &.true {
        left:auto;
        right:0;
        margin-left:0;
        margin-right:30px;
    }

    .icon-bar {
        background-color:#00113d;
    }
}

.sidebar {
    position:fixed !important;
    height:100%;
    left:0;
    top:0;
    background-color:#d83f87;
    padding:0 !important;
    box-sizing:border-box;
    padding-top:40px !important;
    z-index:2;

    @media (max-width:768px) {
        width:200px;
        padding-top:0;
        left:-100%;

        transition: 0.5s;

        &.true {
            left:0;
        }

    } 

    a {
        display:block;
        color:#ffffff !important;
        font-size:16px;
        font-weight:bold;
        transition:all 0.5s ease-in;
        line-height:40px;
        padding:10px 20px;

        &.active,
        &:hover {
            background-color:#0732a2;
            text-decoration: none;
        }

        &.trend {
            background-color:#fad948;
            color:#00113d !important;

            &.active,
            &:hover {
                background-color:#0732a2;
                color:#ffffff !important;
            }

        }

        span {
            float:left;
            display:inline;
        }

        i {
            float:left;
            display:inline;
            font-size:24px;
            margin-right:5px;
            margin-left:9px;
            line-height:40px;
        }

        img {
            float:left;
            display:inline;
            width:40px;
            height:40px;
            margin-right:5px;
        }

        @media (max-width:768px) {
            font-size:12px;
            padding:4px 2px;
            line-height:30px;

            i {
                font-size:17px;
                margin-right:7px;
                line-height:30px;
            }

            img {
                width:30px;
                height:30px;
            }

        }

    }

}

.css-15olb6m {
    display: block !important;
    margin: 20px auto;
}

.loader {
    margin: 40px 15px 20px 15px;
}

.media {
    width: 100%;
    background-color: #efeff4;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    border-radius:5px;

    .media-left {
        background-color:#0732a2;
        min-width:64px;
        position:relative;

        img {
            position:absolute;
            left:50%;
            top:50%;
            -webkit-transform:translateX(-50%) translateY(-50%);
            -ms-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%)
        }
    }

    .media-body {
        color:#00113d;
        padding:10px 20px;
        h4 {
            font-weight:bold;
        }
        p {
            &:last-child {
                margin-bottom:0;
            }
        }
    }
}


.page-header {
    background-color:#fad948;
    color: #00113d;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    font-weight: bold;
    padding:10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    img {
        float:left;
        width:40px;
        height:40px;
        margin-right:20px;
    }
    span {
        float:left;
        width:40px;
        height:40px;
        line-height:40px;
        margin-right:20px;
        background-color:#c4c3bc;
        color:#fff;
        text-align:center;
    }

    @media (max-width: 768px) {
        margin-top:60px;
        font-size:20px;
        line-height:30px;
        img {
            width:30px;
            height:30px;
        }
    }

}